.nav-icons > span i {
  font-size: 22px;
  cursor: pointer;
}
.nav-icons > a {
  padding-right: 30px;
  color: #000;
}
.nav-icons > a i {
  font-size: 22px;
}
.nav-icons > a:hover {
  color: #bc9a43;
}
.footer {
  padding: 0px 120px 10px;
  font-family: "Jost", sans-serif;
}
.main_footer > div {
  font-size: 18px;
}
.main_footer > div > p a {
  color: #000;
}
.main_footer > div > p a:hover {
  color: #bc9a43;
}
.sub_footer {
  padding: 50px 0;
  text-align: center;
  position: relative;
}
.sub_footer > p:first-child {
  font-size: 23px;
  font-weight: bold;
}
.sub_footer > p:nth-child(2) {
  color: #686868;
  font-size: 16px;
  margin-block-end: 1.5em;
}
.footer_input {
  padding: 17px 15px;
  border: 2px solid #000;
  outline: none;
}
.footer_btn {
  position: relative;
  top: 0px;
  left: -5px;
  background-color: #000000;
  padding: 17.2px 12px;
  border: 1px solid #000000;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  font-family: "Jost", sans-serif;
  outline: 0;
}
.end_footer {
  padding: 30px 0;
}
.end_footer > span:first-child {
  float: left;
}
.end_footer > span:nth-child(2) {
  float: right;
}
.end_footer > span:first-child > span {
  padding-right: 30px;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .footer {
    padding: 120px 30px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .main_footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .main_footer > div > p {
    margin-block-start: 0;
  }
  .end_footer > span {
    float: none !important;
    text-align: center;
    display: block;
    padding-bottom: 10px;
  }
  .follow_us {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer_input {
    padding: 12px 10px;
  }
  .footer_btn {
    padding: 12.2px 7px;
  }
  .footer {
      padding: 40px 15px 20px;
  }
}
@media only screen and (max-width: 345px) {
.sub_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer_btn {
    margin-top: 20px;
}
}
