.form-floating > .form-control:not(:placeholder-shown) ~ label {
  opacity: 1;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.5rem);
}

/* .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #bc9a43 !important;
} */
/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 2px solid rgba(0, 0, 0, 0.23) !important;
} */

/* .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: black !important;
} */
/* .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
.css-r47a1p-MuiFormControl-root {
  width: 400px !important;
} */
.form-control {
  border: none !important;
  padding: 2px !important;
}
.modal-content {
  padding: 20px 30px;
}
.modal-header {
  text-align: center;
  width: 100%;
  flex-direction: column;
  position: relative;
  padding: 2rem 1rem 0.5rem !important;
}
.modal-title {
  padding-top: 10px;
}
.modal-title > h2 {
  font-weight: bold;
}
.modal-title > P {
  font-size: 19px;
}


.css-qmvhj5>:not(style) {
  margin-right:0 !important
}
.btn-close {
  position: absolute;
  top: 20px;
  right: 10px;
}
/* .modal-title > p, .modal-title > h2 {
    text-align: center;
    color:#171308;
}
.modal-title > p {
    font-size: 16px;
} */
/* .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border: 2px solid #bc9a43 !important;
} */
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 500px !important;
  }
}
.todo-list {
  width: 400px;
  margin: 8px 0 15px 0;
  position: relative;
  padding-bottom: 40px;
}

.todo-list > span:first-child {
  color: #4b4b4b;
  position: absolute;
  top: 2px;
}
.todo-list > span:nth-child(2) {
  position: absolute;
  right: 0;
  top: 8px;
}
.todo-list > span:nth-child(2) > a {
  color: #4b4b4b;
}
.account_signup {
  margin-top: 20px;
}
.account_signup > button {
  color: #bc9a43;
  margin-left: 7px;
}
.btn_continue {
  margin: 30px 8px 20px !important;
  width: 400px !important;
}
.btn_login {
  margin: 8px !important;
  width: 400px !important;
}
.box_input {
  padding-bottom: 20px;
}

.modal-footer {
  border-top: none !important;
}
.modal-header {
  border-bottom: none !important;
}
.css-1s2u09g-control {
  border: 2px solid rgba(0, 0, 0, 0.23) !important;
  padding: 7px 7px !important;
  margin-left: 10px !important;
}
.css-1pahdxg-control:hover {
  border: 2px solid #bc9a43 !important;
}
.css-1pahdxg-control {
  border: 2px solid #bc9a43 !important;
  padding: 7px 7px !important;
  margin-left: 10px !important;
  box-shadow: none !important;
}
.country_label {
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}
.back_arrow {
  position: absolute;
  left: 12px;
  top: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.back_arrow > i {
  padding: 5px 7px;
  margin-right: 10px;
  border: 1px solid #dfdfdf;
  background: #dfdfdf;
  border-radius: 50%;
}
.select_sex {
  padding: 30px 0 20px 12px;
}
.css-u4tvz2-MuiFormLabel-root {
  padding-bottom: 10px !important;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #bc9a43 !important;
}
.css-u4tvz2-MuiFormLabel-root.Mui-focused {
  color: #bc9a43 !important;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: #bc9a43 !important;
}
.terms_p {
  text-align: center;
  color: rgba(75, 75, 75, 0.6);
}

/********Upload *******/
.upload_header {
  text-align: left;
}
.upload_media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upload_media > div {
  padding-top: 30px;
}
.upload_btn {
  background-color: transparent;
  outline: 0;
  border: none;
  color: #bc9a43;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.container img {
  height: 100px;
  width: 100px;
  margin-right: 15px;
}
.container > div {
  padding: 20px;
}
.blue {
  color: blue;
  display: none !important;
}

@media only screen and (max-width: 500px) {
  .modal {
    padding: 0 !important;
  }
  .css-r47a1p-MuiFormControl-root {
    width: 98% !important;
  }
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
  .btn_continue,
  .btn_login {
    width: 100% !important;
  }
  .todo-list {
    width: auto;
  }
  .css-qmvhj5 > :not(style) {
    margin-right: 0 !important;
  }
  .modal-content {
    padding: 20px 0 !important;
  }
  .btn_continue,
  .btn_login {
    margin: 30px 0 20px !important;
  }
  .LoginModal,
  .SignUpModal {
    margin-top: 60px !important;
  }
}
