.navigation {
  position: fixed !important;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  z-index: 10000;
}
.navigation > div:first-child {
  padding-left: 40px;
}
.navigation > div:first-child > a > img {
  padding-left: 30px;
}
.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #bc9a43;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu.expanded ul {
    display: block;
  }

  .navigation-menu ul {
    display: none;
    margin-block-start: 0px;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 0.2rem;
  }

  .menu > ul {
    transition: 0.5s;
    background-color: #f6f8fa;
    color: white;
    z-index: 111111;
    line-height: normal;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 30px;
    font-size: 18px;
    font-family: "Jost", sans-serif;
  }
  .menu > ul {
    padding-top: 30px;
    text-align: center;
    padding-inline-start: 0px;
  }
  .menu > ul li {
    list-style-type: none;
    padding-bottom: 20px;
    cursor: pointer;
  }
  .menu > ul li a {
    text-decoration: none;
  }
  .menu > ul li a:hover {
    color: #bc9a43;
  }

  .log_li,
  .log_li span {
    padding-top: 20px;
    color: red;
  }

  .social_list > a > i {
    padding-right: 20px;
  }
  .hr_mb {
    color: #d1d1d1;
    height: 2px !important;
    margin: 1rem 3rem;
  }
}

.navbar {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  position: fixed !important;
  z-index: 100;
  padding-top: 0px !important;
}
.top-nav {
  background-color: #282828;
  padding: 15px 60px;
  color: #ffffff;
}
.nav-icons > span > a i {
  font-size: 22px;
  cursor: pointer;
  color: #fff;
}

.nav-icons > span {
  padding-right: 30px;
}
.nav-icons > span:nth-child(4),
.nav-icons > span:nth-child(5) {
  font-weight: bold;
  color: #fcfbf7;
  cursor: pointer;
}
.nav-icons > span:hover {
  color: #bc9a43;
}
.main-nav {
  padding: 15px 20px 8px 20px;
  background-color: #fcfbf7;
}
.nav-list,
.nav-sublist {
  padding-top: 15px;
}
.nav-list > ul li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
  cursor: pointer;
}
.nav-list > ul li a {
  text-decoration: none;
  color: #000;
}

.link {
  color: white;
}
.menulink {
  color: #000;
}

/* Specific styles for active links */
.link-active {
  padding-bottom: 5px;
  border-bottom: 2px solid #282828;
}
.menulink-active {
  color: #bc9a43 !important;
}

.nav-logo > div {
  text-align: center;
  cursor: pointer;
}
.site_name {
  margin-block-start: 0px;
  margin-block-end: 0px;
  color: #000;
}
.nav-sublist {
  padding-right: 20px;
}
.nav-sublist > span {
  float: right;
}
.nav-sublist > span > ul li,
.nav-mini > ul li {
  padding-right: 30px;
  list-style-type: none;
  display: inline;
  cursor: pointer;
}
.nav-mini {
  float: right;
  display: none;
}
.nav-mini > button {
  color: #ffffff;
  font-weight: bold;
}
.nav-sublist > span > ul li a {
  text-decoration: none;
  color: #000;
}
.nav-sublist > span > ul li > img {
  width: 20px;
  height: auto;
}
.nav-sublist > span > ul li:nth-child(2) > img {
  width: 18px;
}
.navigation {
  display: none;
}
.gf_btn {
  border: none;
  background-color: transparent;
}
.profile_div {
  position: absolute;
  right: 190px;
  /* top:80px; */
}

.overlay-div {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.searchInput {
  background-color: #ffffff;
  min-height: 300px;
  width: 100%;
  z-index: 1000;
  max-height: calc(100vh - 50px);
  overflow: auto;
}
.product_result {
  display: flex;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 60px;
  justify-content: center;
  align-items: center;
}
.product_result > div > img {
  width: 150px;
  height: auto;
}
.searchInput > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}
.inputSearch {
  border: none;
  padding-left: 20px;
  outline: 0;
}
.searchInput > div:first-child > div:first-child {
  align-self: end;
  font-size: 20px;
  cursor: pointer;
}
.searchInput > div:first-child > div:last-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  padding-top: 40px;
}
.category_name {
  margin-block-end: 1em!important;
  margin-block-start: 1em!important;
}

@media only screen and (max-width: 991px) {
  /* .nav-sublist {
    display: none;
  } */
  .nav-logo > div {
    text-align: center;
  }
  .nav-list > ul > li {
    padding-right: 10px;
    /* font-size: 15px; */
  }
  .nav-sublist {
    padding-right: 0;
  }
  .profile_div {
    right: 160px;
  }
  .main-nav {
    padding: 15px 10px 8px 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .top-nav {
    padding-right: 40px;
  }
  .nav-mini {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .navbar {
    display: none !important;
  }
  .navigation {
    display: block;
  }
  .searchInput > div:first-child {
    width: 95%;
  }
  .product_result {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 360px) {
  .inputSearch {
    width:90%
  }

}
#checkbox {
  display: none;
}
/* .square , .name-left{
  float: left;
}
.name-left {
  padding-right: 10px;
} */

.square > i {
  transition: all 0.75s 0.25s;
  transform: rotate(0);
  cursor: pointer;
}

#checkbox:checked + .square > i {
  transform: rotate(180deg) !important;
}
.dropdown-toggle::after {
  display: none !important;
}
/* .gf_btn {
  display: none;
} */

.btn {
  padding: 0 10px 0 0 !important;
}

button:focus:not(:focus-visible),
.btn-check:focus + .btn,
.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.btn:focus,
.btn:hover {
  border-color: transparent !important;
}
.title-span > img,
.title-span > span {
  padding-right: 15px;
}
.dropdown {
  bottom: 5px !important;
}
.dropdown-menu.show {
  transform: translate(0px, 58px) !important;
}
.dropdown-menu {
  border-radius: 0 0 0.375rem 0.375rem !important;
  min-width: 8rem !important;
  box-shadow: 0px 5.55556px 19.4444px rgba(0, 0, 0, 0.05) !important;
  background-color: #f3f1ed !important;
  border: 1.38889px solid #e1e8f1 !important;
  padding: 10px 0 !important;
}

